<div class="l-gradient-wrapper">
<%= render partial: "layouts/navigation"%>
  <div class="g-middle">
    <div class="g-middle-i">
    <div id="project-navigation" class="project-navigation project-navigation_overflow project-navigation_nocap project-navigation_scroll" 
                        style="width: 1380px; height: 50px; left: 0px; top: 0px;">
    <div class="project-navigation__flex">
        <div class="project-navigation__part project-navigation__part_1">
            <ul class="project-navigation__list project-navigation__list_primary">
               <li class="project-navigation__item project-navigation__item_primary #{'project-navigation__item_active' if params[:category] == "people"}">
                  <a href="/news" class="project-navigation__link project-navigation__link_primary">
                    <span class="project-navigation__text">
                      <span class="project-navigation__sign">Новости</span>
                    </span>
                  </a>
                </li>
                <%if current_user && current_user.type == "Admin"%>
                <li class="project-navigation__item project-navigation__item_primary ">
                  <a href="<%=users_path %>" class="project-navigation__link project-navigation__link_primary">
                    <span class="project-navigation__text">
                      <span class="project-navigation__sign">Пользователи</span>
                    </span>
                  </a>
                </li>

                <li class="project-navigation__item project-navigation__item_primary ">
                <a href="<%= new_article_path%>" class="project-navigation__link project-navigation__link_primary">
                  <span class="project-navigation__text">
                    <span class="project-navigation__sign">Добавить новость</span>
                  </span>
                </a>
              </li>
              <%end%>  
              </ul>
            </div>
    </div>
</div>
</div>
</div>
</div>
