<div class="news-tidings__detail">
<div class="news-tidings__control">
  <div class="news-tidings__group">
    <div class="news-tidings__comment">0</div>
  </div>
  <div class="news-tidings__time">
    <%= article.parse_date%>  
   </div>
</div>
</div>
