/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 
body {
  background-color: #e3e3e3;
  font-family: 'Open Sans',sans-serif;
}
.l-gradient-wrapper {
  background-image: -o-linear-gradient(top,#fff,#fff 50%,#e4e4e4);
  background-image: linear-gradient(to bottom,#fff,#fff 50%,#e4e4e4);
  background-repeat: repeat-x;
  background-size: 100% 150px;
  min-width: 1000px;
}
.bg-white {
  background-color: #ffffff;
}
.btn-my {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #f8f9fa;
}
.btn-admin {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #f8f9fa;
}
.btn-revoke_admin {
  color: #212529;
  background-color: #ffc107cc;
  border-color:  #f8f9fa;
}
a { 
 text-decoration: none;
 color: #004d99;
} 
.alert {
  width: 900px; 
  height: 50px;   
}
.notice {
  width:1300px; 
  height: 50px;   
}
ol, ul, dl {
  margin-top: 0;
  margin-bottom: 0rem;
}
.profile-header__background {
  height: 206px;
  margin-left: -25px;
  margin-right: -25px;
  margin-top: -12px;
  background-color: #ffda50;
  background-position: 0 0;
  display: block;
  position: relative;
}
.profile-avatar {
  margin-bottom: -58px;
  bottom: 100%;
  left: 0;
  position: absolute;
}
.profile-form-text {
  color: #999;
}
.project-navigation__part_1 .project-navigation__list:first-child {
  margin-left: -56px;
}
.project-navigation__list {
  margin: -9px 0;
  display: inline-block;
  vertical-align: top;
}
.form-border{
  padding-top: 35px;
  padding-bottom: 35px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}
.news-header__image{
  margin-top: -12px;
  margin-right: -10px;
  background-color: #e6e6e6;
}
.p-text {
  font-size: 20px;
}
.auth-form__image_logo {
  width: 108px;
  height: 24px;
  background-image: image-url('black_logo.png');
  opacity: .15;
}
.news-header__bottom {
  padding-left: 70px;
  padding-right: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: rgba(0,0,0,.5);
}
.img-wrap {
  width: 350px;
  position: relative;
  left: -20px;
}
.img-wrap-bright {
  filter: brightness(60%);
}
.img-wrap h5 {
  position: absolute;
  left: 20px;
  top: 80px;
  width: 90%;
  font-weight: bolder;
  font-size: 18px;
}
.container-x{
  width: 100%;
  left: -20px;
}
.comments {
  position: absolute;
  left: 30px;
  top: 10px;
  width: 90%;
}
.box2 {
  padding: 0 0 3px 0;
  right: -30px;
}
a .div-news-title{
  background: rgba(136, 46, 46, 0.801); 
  overflow: hidden;  
  width: 348px;
}
a .div-news-title img{
  opacity: 1;
  transition: opacity 124ms linear, transform 124ms linear;  
}
a:hover .div-news-title img{
  opacity: 0.8; 
  width: 348px; 
  height: 170px;
}
.card, .card-img-top, .card-body, .card-footer{
  border-radius:0px !important;
}
.card-img-top{
  background: #e6e6e6;
}
.card-body h5
{
  font-size: 14pt;
}
.card-text:last-child {
  margin-bottom: 0;
}
.card-text:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  background-image: -o-linear-gradient(270deg,rgba(255,255,255,0) 0,#fff 100%);
  background-image: linear-gradient(180deg,rgba(255,255,255,0) 0,#fff 100%);
}
.news-tidings__comment {
  padding-left: 20px;
  background-image: image-url('comment.png');
  position: relative;
  z-index: 1;
}
a.tile-section {
  height: 15px;
  padding: 4px 10px 3px;
  background: #ffea00;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 12;
  line-height: 9px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: none;
  white-space: nowrap;
  color: #000;
}
.b-tile-comments, a.b-tile-comments {
  padding: 0 0 0 11px;
  background-position: 0 -80px;
  display: inline-block;
  position: absolute;
  z-index: 12;
  top: 11px;
  left: 300px;
  font-size: 11px/1 'Open Sans',sans-serif;
  color: #ffea00;
}
.b-tile-comments, .b-tile-comments>*, .b-tiles .icon {
  background: image-url('sprites-tiles.png');
  display: inline-block;
}
.news-category-title
{
  padding: 0 0 0 11px;
  font-weight: 900;
  font-size: 35px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  color: #000;
}
.img-wrap-small {
  width: 279px;
  position: relative;
}
.img-wrap-small-bright {
  filter: brightness(60%);
}
.img-wrap-small h5 {
  position: absolute;
  left: 20px;  
  top: 35px;
  width: 90%;
  font-weight: bolder;
  font-size: 10pt;
}
.custom-col-2 {
  width: 279px;
  margin: 0 0 0 0;
}
.box2-small {
  padding: 0 3px 3px 0;
}
a .div-news-title-small{
  background: rgba(136, 46, 46, 0.801); 
  overflow: hidden;  
  width: 277px;
}
a .div-news-title-small img{
  opacity: 1;
  transition: opacity 124ms linear, transform 124ms linear;  
}
a:hover .div-news-title-small img{
  opacity: 0.9; 
  transform: scale(1.05);
}
.custom-col-6 {
  width: 500px;
  margin: 0 0 0 0;
}
.custom-col-news {
  width: 500px;
  margin: 0 0 0 0;
}
img .small-news{
width: 50;
height:70;
background: #e6e6e6; 
}
.vertical_gray_line {
  border-right: 1px solid #e6e6e6;
  height: 550px;
  margin-left: -10px;
}
.horisontal_gray_line {
  border: none; 
  background-color:#e6e6e6; 
  color:#e6e6e6;
  height: 1px; /* Толщина линии */
}
.footer-button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 240px;
  max-width: 100%;
  height: 30px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: -25px;
  background: #ffda50;
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0);
  color: #333;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Open Sans Condensed',sans-serif;
  line-height: 30px;
  border: 0;
  border-radius: 2px;
  display: block;
  box-sizing: border-box;
  outline: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none!important;
  text-shadow: none;
}
a.footer-button:active, 
a.footer-button:hover,  
a.footer-button {
  text-decoration: none;
  color: #000;
}
.b-opinions-main-2__inner {
  padding: 58px 25px 5px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  background: no-repeat 50% 50%;
  background-size: cover;
}
#div1{
  display: none;
}
.discussion h2 {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: 'Open Sans Condensed',sans-serif;
  text-transform: uppercase;
}
.comment-form-background{
  background-color: #e6e6e6;
  width: 927px;
}
.comment-form{
  padding-left: 30px;
}
.comment-form .column{
  width: 80px;
}
.comment-form .column2{
  width: 630px;
}
.column{
  width: 70px;
}
.column2{
  width: 800px;
}
.comments{
  left: 30px;
}
.navigation-arrow {
  content: '\2039';
  display: block;
  position: absolute;
  top: 50%;
  right: -9px;
  margin-top: -6px;
  line-height: 1;
  color: rgba(0,0,0,.4);
  text-decoration: none;
  transform: rotate(
270deg
);
}
.response_comment p{
  font-size: 10pt;
  color: rgb(80, 114, 175);
}
.like-count{
  color: green; 
  font-size: 11pt;
}
.dislike-count{
  color: rgb(255, 0, 0);
  font-size: 11pt;
}
.empty-place {
 height: 500px;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0 0 0 7px;
  font-size: 1rem;
  color: #212529;
  background-color: #3e4753;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.g-bottom-i {
  min-width: 1000px;
  max-width: 1380px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  z-index: 11;
}
