<footer class="g-bottom">
    <div class="g-bottom-i">
        <div class="footer-style">
    <div class="footer-style__flex">
        <div class="footer-style__part footer-style__part_1">
            <ul class="footer-style__list">
                <li class="footer-style__item">
                    <a href="" class="footer-style__link footer-style__link_primary">
                        О компании
                    </a>
                </li>
                <li class="footer-style__item">
                    <a href="" class="footer-style__link footer-style__link_primary">
                        Контакты редакции
                    </a>
                </li>
                <li class="footer-style__item">
                    <a href="" class="footer-style__link footer-style__link_additional">
                        Реклама
                    </a>
                </li>
                <li class="footer-style__item">
                    <a href="" class="footer-style__link footer-style__link_additional">
                        Размещение в каталоге
                    </a>
                </li>
                <li class="footer-style__item">
                    <a href="" class="footer-style__link footer-style__link_primary">
                        Вакансии
                    </a>
                </li>
                <li class="footer-style__item">
                    <a href="" class="footer-style__link footer-style__link_primary">
                        Манифест
                    </a>
                </li>
                <li class="footer-style__item">
                    <a href="" class="footer-style__link footer-style__link_primary">
                        Пользовательское соглашение
                    </a>
                </li>
                <li class="footer-style__item">
                    <a href="" class="footer-style__link footer-style__link_primary">
                        Публичные договоры
                    </a>
                </li>
                <li class="footer-style__item">
                    <a href="" class="footer-style__link footer-style__link_primary">
                        Политика конфиденциальности
                    </a>
                </li>
                <li class="footer-style__item">
                    <a href="" class="footer-style__link footer-style__link_primary">
                        Поддержка пользователей
                    </a>
                </li>
                <li class="footer-style__item">
                    <a href="" class="footer-style__link footer-style__link_primary">
                        Правила возврата
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-style__part footer-style__part_2">
            <div class="footer-style__copy">
                © 2001—2021 Onliner.by
            </div>
        </div>
    </div>
</div>
    </div>
    <!--/Footer-->
</footer>