

<!--Top-->
<header class="g-top">
    <div class="b-top-menu">
    <div class="g-top-i">
    <nav class="b-top-navigation">

    <!--Main-navigation-->
    <ul class="b-main-navigation">
        <li class="b-main-navigation__item">
            <a href="" class="b-main-navigation__advert b-main-navigation__advert_primary">
                <div class="b-main-navigation__bubble b-main-navigation__bubble_primary">
                    Все суперцены
                </div>
            </a>
            <a href="" class="b-main-navigation__link">
                <span class="b-main-navigation__text">Каталог</span>
            </a>
        </li>
   
    
        <li class="b-main-navigation__item b-main-navigation__item_arrow">
            <a href="" class="b-main-navigation__link">
                <span class="b-main-navigation__text">Новости</span>
            </a>
        </li>

        <li class="b-main-navigation__item b-main-navigation__item_arrow">

            <a href="https://auto.onliner.by/2021/02/11/snova-razygryvaem-prizy-v-avtobaraxolke-s-mastercard" target="_blank" class="b-main-navigation__advert b-main-navigation__advert_additional">
                <div class="b-main-navigation__bubble b-main-navigation__bubble_additional">
                    Выиграйте iPhone 12
                </div>
            </a>
            <a href="" class="b-main-navigation__link">
                <span class="b-main-navigation__text">Автобарахолка</span>
            </a>
        </li>


        <li class="b-main-navigation__item b-main-navigation__item_arrow">
            <a href="" class="b-main-navigation__link">
                <span class="b-main-navigation__text">Дома и квартиры</span>
            </a>
        </li>

        <li class="b-main-navigation__item">
            <a href="" class="b-main-navigation__link">
                <span class="b-main-navigation__text">Услуги</span>
            </a>
        </li>

        <li class="b-main-navigation__item">
            <a href="" class="b-main-navigation__link">
                <span class="b-main-navigation__text">Барахолка</span>
            </a>
        </li>

        <li class="b-main-navigation__item">
            <a href="" class="b-main-navigation__link">
                <span class="b-main-navigation__text">Форум</span>
            </a>
        </li>

    </ul>
        <!--Clover-->
        <a href="https://clever.onliner.by/?utm_source=onliner&utm_medium=navigation&utm_campaign=clever" target="_blank" class="b-top-navigation-clover">Onliner Клевер</a>
        <!--/Clover-->

        <div class="b-top-navigation-age">18+</div>
    </nav>
    </div>
    </div>

    <div class="b-top-actions">
    <div class="g-top-i">
        <div class="b-top-logo">
            <a href="">
            <img srcset="https://gc.onliner.by/images/logo/onliner_logo.v3.png?token=1617371555,
                    https://gc.onliner.by/images/logo/onliner_logo.v3@2x.png?token=1617371555 2x"
            src="https://gc.onliner.by/images/logo/onliner_logo.v3@2x.png?token=1617371555" width="180" height="40" alt="Onliner" class="onliner_logo">
            </a>
        </div>

        <div class="b-top-wrapper">
                        
            <div id="fast-search" class="fast-search">
                <form class="fast-search__form" action="//catalog.onliner.by/search/" method="get" autocomplete="off">
                    <input class="fast-search__input" type="text" placeholder="Поиск в Каталоге. Например, &quot;ламинат egger&quot;" tabindex="1" name="query"
                        value=""
                        data-project="onliner_main">
                    <input type="hidden" name="charset" value="utf-8">
                    <button class="fast-search__submit" type="submit">Найти</button>
                </form>
            </div>


            <div id="userbar" class="b-top-profile js-userbar">
               
            <div class="auth-bar auth-bar--top" data-bind="visible: false" style="">
                <a href="" class="auth-bar__item auth-bar__item--text"  style="height: 40px">Вход</a>
            </div>
        
        </div>

    </div> 
    </div>           

</header>
