<!DOCTYPE html>
<html>
  <head>
    <title>SiteClone</title>
    <meta charset="utf-8">
    <meta name="theme-color" content="#246eb7">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    
    <title>Onliner</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="preload" href="//gc.onliner.by/assets/auth.544ff962679b1b70.css" as="style">
    <link rel="preload" href="//gc.onliner.by/assets/non-critical-styles.0c8fa7aba863395e.css" as="style">

    <link rel="shortcut icon" href="https://gc.onliner.by/favicon.ico">
    <link rel="mask-icon" href="https://gc.onliner.by/images/logo/icons/icon.svg" color="#ff0000">
    <link rel="icon" type="image/x-icon" href="https://gc.onliner.by/images/logo/icons/favicon.ico">
    <link rel="icon" type="image/png" href="https://gc.onliner.by/images/logo/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="https://gc.onliner.by/images/logo/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://gc.onliner.by/images/logo/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://gc.onliner.by/images/logo/icons/favicon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" sizes="60x60" href="https://gc.onliner.by/images/logo/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://gc.onliner.by/images/logo/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://gc.onliner.by/images/logo/icons/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="https://gc.onliner.by/assets/common_v3.020f163e30325c75.css">
    <link rel="stylesheet" href="https://gc.onliner.by/assets/responsive-layout.19f91e4cc7a4ac16.css">
    <link rel="stylesheet" href="https://gc.onliner.by/assets/auth.544ff962679b1b70.css" />
    <link rel="stylesheet" href="https://gc.onliner.by/assets/non-critical-styles.0c8fa7aba863395e.css" />
    <link rel="stylesheet" type="text/css" href="https://gc.onliner.by/assets/mainpage_v3.8e5b885709e0b4a6.css">
    <script type="text/javascript" src="https://gc.onliner.by/assets/main-page.0be201deaa2cb965.js"></script>
    <link rel="alternate" type="application/rss+xml" title="Onliner" href="/feed"><meta name="yandex-verification" content="64023db300b691cc" />  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>

  
</html>
